body {
  margin: 3em;
  font-family: Arial, Helvetica, san-serif;
}

h1 {
  color: crimson;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 300px;
}

#why {
  width: 600px;
  border: 3px solid crimson;
  background-color: black;
  padding: 10px;
}

#why p {
  color: whitesmoke;
}

#why h2 {
  color: crimson;
}

.question {
  display: flex;
  width: 1000px;
  margin: 10px 0px;
}

#prompt {
  margin: 0px 10px 0px 0px;
}

#story {
  margin: 15px 0px;
}

form {
  display: flex;
  flex-direction: column;
}